:root{
    --primaryFont: Arial, Helvetica, sans-serif;
    --pxIcon: 24px;
    --shadow: 1px solid var(--softWhiteLine);
    
    --black: #030303;
    --transparentBlack: #030303cc;
    --transparentGrey: rgba(131, 131, 131, 0.884);

    --white: #FFFFFF;
    --softWhite: #f2f2f2;
    --softWhiteLine: #d4d4d4ce;
    --whiteBackground: #f8f8f8;

    --grey: #686868;
    --softGrey: #f9f9f9;
    
    --red: #c00;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: var(--primaryFont);
}

body{
    font-size: 1.6rem;
}

li{
    list-style: none;
}

/*
img{
    width: 100%;
}
*/

header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.top-nav{
    width: 100%;
    border-bottom: var(--shadow);
}

.top-nav__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 56px;
}

.top-nav__ul__li{
    width: 100%;
    display: flex;
    align-items: center;
}

.top-nav__ul__li__center{
    justify-content: flex-end;
}

.top-nav__ul__li__iconItem{
    width: var(--pxIcon);
    height: var(--pxIcon);
}

.top-nav__ul__li--userImgProfile{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.top-nav__ul__li__left{
    width: 169.09px;
    position: relative;
    padding-right: 20px;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 5px;
}

.top-nav__ul__li__left--youTubeCountry{
    position: absolute;
    font-size: 10px;
    top: -1px;
    right: 0px;
}

.top-nav__ul__li__left__icon{
    margin-left: 12px;    
    margin-right: 30px;
}
.top-nav__ul__li__left--youTubeIcon{
    width: 90px;
    height: 20px;
}

.top-nav__ul__li__right__item, .top-nav__ul__li__center__item{
    margin-right: 16px;
}

.top-nav__ul__li svg, .top-nav__ul__li img, .top-nav__ul__li div{
    cursor: pointer;
}


.bottom-nav{
    width: 100%;
    height: 56px;
    border-bottom: var(--shadow);
}

.bottom-nav__ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-nav__ul__li{
    display: flex;
    align-items: center;
    justify-content: right;
}

.bottom-nav__ul__icon{
    width: 16px;
    height: 16px;
}

.button{
    padding: 7px 16px;
    border-radius: 20px;
    border: var(--shadow);
    outline: none;
    font-size: 1.4rem;
    margin: 7.5px;
    cursor: pointer;
}

.primaryButton{
    background-color: var(--black);
    color: var(--white);
}

.secondayButton{
    background-color: var(--softWhite);
    color: var(--black);
}

main{
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.videos{
    display: grid;
    grid-auto-columns: auto;
    width: 80%;
    margin: 0 auto;
    gap: 20px;
}

.video{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

.video__miniature{
    width: 100%;
}

.video__details{
    position: relative;
}

.video__details__duration{
    position: absolute;
    top: -36px;
    right: 6px;
    padding: 2px 6px;
    background-color: var(--transparentBlack);
    color: var(--white);
    font-size: 1.2rem;
}

.video__details__channel{
    display: flex;
    margin-top: 8px;
}

.video__details__channel__userImg{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.video__details__channel__clasificationIcon{
    width: 14px;
    height: 14px;
}

.video__details__channel__container{
    margin-left: 15px;
}

.video__details__title{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 7px;
}

.video__details__channel__user, .video__details__views{
    font-size: 1.2rem;
    color: var(--grey);
    margin-bottom: 5px;
}

.top-nav__ul__li__notificationIcon, .top-nav__ul__li__microphoneIcon, #notification-count, .search-video{
    display: none;
}

/* Responsive Web Design Media Queries */
@media (min-width: 407px){
    .top-nav__ul__li__notificationIcon{
        display: block;
    }

    .top-nav__ul__li__notificationIconContainer{
        position: relative;
        margin-right: 15px;
    }

    #notification-count{
        position: absolute;
        right: 25%; /* right: -5%; -> Cuando la notificación sea mayor o igual que a 10 */
        top: -5%;
        background-color: var(--red);
        color: white;
        border-radius: 20px;
        padding: 0 4px;
        display: grid;
        place-content: center;
        font-size: 1.2rem;
        border: 2px solid var(--white);
    }
}

@media (min-width: 450px){
    .top-nav__ul__li__microphoneIcon{
        display: block;
    }

    .top-nav__ul__li__right{
        justify-content: flex-start;
    }

    .top-nav__ul__li__center{
        justify-content: flex-end;
    }
}

@media (min-width: 510px){
    
    .videos{
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
}

@media (min-width: 660px){

    #open-search-video-content{
        display: none;
    }
    .search-video{
        display: flex;
        width: 100%;
        margin-right: 15px;
    }


    .top-nav__ul__li__center{
        width: 100%;
        height: 70%;
        margin-left: 30px;
        justify-content: flex-start;
        align-items: stretch;
    }

    #txtVideoName{
        width: 100%;
        padding: 5px 10px;
        font-size: 1.6rem;
        outline: none;
    }

    #txtVideoName::placeholder{
        color: var(--transparentGrey);
    }

    #btnSearchVideo{
        width: 68px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--whiteBackground );
        cursor: pointer;
    }
    
    #txtVideoName, #btnSearchVideo{
        border: 1.7px solid var(--softWhiteLine);
    }

    #btnSearchVideo{
        border-left: none;
    }

    .top-nav__ul__li__microphoneIcon{
        width: 47.3px;
        height: auto;
        padding: 8px;
        justify-content: center;
        background-color: var(--softGrey);
        border-radius: 50%;
    }
   
}

@media (min-width: 900px){
    .top-nav__ul{
        justify-content: space-between;
    }

    .top-nav__ul__li{
        width: auto;
    }

    .top-nav__ul__li__center{
        width: 728px;
    }

    
}

@media (min-width: 890px){
    
    .videos{
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }
    
}